.content-conteudo {
    background-color: #EEEEEE;
    width: 100%;
    height: 220vh;
    
    
}

.content-title-conteudo {
    display: flex;
    background-color: #0D0D0D;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.content-title-conteudo p {
    text-align: center;
    color: white;
    font-size: 20px;
}

.layout-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-desc-dice-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 195vh;
}

.content-conteudo-desc {
    background-color: #0D0D0D;
    width: 85vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
}

.content-conteudo-desc p {
    font-size: 20px;
    width: 330px;
    color: white;
}

.layout-content-dice {
    display: flex;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: rgba(0, 255, 255, 0);
    width: 90vw;
    height: 95vh;
    align-items: center;
    flex-direction: row;
}

.sistem-power-sun {
    display: flex;
    width: 50vw;
    height: 60vh;
    background: linear-gradient(180deg, rgba(255,157,11,1) 65%, rgba(238,238,238,1) 100%);
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    margin: 40px;
    justify-content: center;
    user-select: none;
}
.sistem-power-sun p {
    width:275px;
    margin-top: 30px;
    color: #0e0d0d;
    font-style: italic;
    font-size: large;
    
}
.sistem-power-sun h3{
    font-size: 20px;
    color: #ffffff;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.image-dice-sun {
    background-image: url(./dice-sun.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    background-color: #ffffff;
    /* ou cover, dependendo do efeito desejado */
    width: 56vw;
    height: 60vh;
}


.about-sun-sistem {
    display: flex;
    width: 50vw;
    height: 60vh;
    background: linear-gradient(180deg, rgb(243 35 35) 65%, rgba(238,238,238,1) 100%);
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    margin: 40px;
    justify-content: center;
    user-select: none;
}
.about-sun-sistem p {
    width:275px;
    margin-top: 30px;
    color: #0e0d0d;
    font-style: italic;
    font-size: large;
}
.about-sun-sistem h3{
    font-size: 20px;
    color: #ffffff;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.desc-sun-content {
    background-color: rgb(255, 102, 0);
    width: 30vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}