/* Estilos para o jogador */

.player {
    display: flex;
    justify-content: space-between;
}

.layout-player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.identificacao,
.informacao-usuario,
.vida {
    width: 400px;
    height: 250px;
}

.identificacao {
    background-color: rgb(2, 90, 167);
}

.informacao-usuario {
    background-color: rgb(103, 0, 123);
}

.vida {
    background-color: darkgreen;
    height: 50px;
}

.resultados {
    width: 180px;
    height: 120px;
    background-color: grey;
}
