* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Fonte padrão para toda a página */
body {
    font-family: 'K2D', sans-serif;
}

.barra-de-navegacao {
    display: flex;
    background: #0D0D0D;
    width: auto;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    justify-content: space-around;
}

.Layout-NavBar {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
}

.logo img {
    filter: drop-shadow(0px 4px 20px rgba(255, 0, 0, 0.787));
}

.logo-image-inicial {
    width: 120px;
    height: 90px;
}

.paginaInicial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background: #6C0A0A;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.paginaInicial a {
    color: white;
    /* Cor padrão do texto */
    font-size: 14px;
    /* Tamanho padrão da fonte */
    text-decoration: none;
    /* Remova a decoração padrão do texto */
    transition: 0.3s ease-in-out;
    /* Adicione a transição aqui */
}

.paginaInicial a:hover {
    color: white;
    /* Cor ao passar o mouse */
    font-size: 16px;
    /* Tamanho da fonte ao passar o mouse */
    text-decoration: none;
    /* Remova a decoração do texto ao passar o mouse */
}

.paginaInicial:hover {
    background-color: #b01212;
}


.explore,
.mecanicas,
.locais,
.comunidade {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    border-radius: 10px;
    background: #2F2F2F;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
    font-size: 14px;
}

.explore a:hover,
.mecanicas a:hover,
.locais a:hover,
.comunidade a:hover {
    font-size: 16px;

}


.explore:hover,
.mecanicas:hover,
.locais:hover,
.comunidade:hover {
    background-color: #505050;

    /* Cor mais clara no hover */
    /* Adiciona o cursor apenas nas guias principais */
}

.dropdown {

    background-color: #3B3B3B;
    z-index: 1;
    opacity: 0;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 100%;
    /* Posiciona o dropdown no meio verticalmente */
    left: 50%;
    /* Posiciona o dropdown no meio horizontalmente */
    transform: translate(-50%, 0);
    /* Move o dropdown de volta 50% da sua própria largura */
    width: 140px;

}

.dropdown a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.dropdown ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    /* Adicione esta linha para remover a margem padrão da lista */
}

.dropdown ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 32px;
    width: 130px;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;

    /* Adicione esta linha para adicionar o cursor pointer nas opções */

    /* Adicione esta linha para suavizar a transição da cor de fundo */

}

/* Adiciona um estilo para a opção selecionada */
.dropdown ul li.selected {
    background-color: rgb(42, 73, 99);

}

/* Adiciona hover nas opções do dropdown */
.dropdown ul li:hover {
    background-color: #494949;


}

/* Adiciona um pequeno atraso ao hover no dropdown */
.dropdown:hover {
    opacity: 1;
    transition-delay: 0.3s;
}


.explore:hover .dropdown,
.mecanicas:hover .dropdown,
.locais:hover .dropdown,
.comunidade:hover .dropdown {
    opacity: 1;
    transition-delay: 0.3s;

}

.login-register {
    display: flex;
    align-items: center;
}

.register {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background: #121238;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.login {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background: #20213F;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.register a,
.login a{
    font-size: 14px;
    text-decoration: none;
    color:white;
    transition: 0.3s ease-in-out;
}
.register a:hover,
.login a:hover{
    font-size: 16px;
    text-decoration: none;
    color:white;
    
}

.register:hover,
.login:hover {
   
    background-color: #4a4ec2;

}