/* Estilos para o inimigo */
.inimigo {
    display: flex;
    justify-content: space-between;
}

.layout-inimigo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.atributos,
.resultados-status,
.vida {
    width: 400px;
    height: 250px;
    background-color: rgb(2, 90, 167);
}

.atributos {
    background-color: rgb(2, 90, 167);
}

.resultados-status {
    background-color: rgb(103, 0, 123);
}

.vida {
    background-color: darkgreen;
    height: 50px;
}

.dano {
    width: 180px;
    height: 120px;
    background-color: grey;
}