/* sobre magia e ki */
.ki-e-magia {
    display: flex;
    background-color: orange;
    width: auto;
    height: 590px;
    align-items: center;
    justify-content: center;
}

.ki-image {
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
}

.about-ki-e-magia {
    width: 420px;
    height: 235px;
    background-color: rgb(53, 53, 53);
}

.magia-image {
    width: 400px;
    height: 400px;
    background-color: cyan;
}