.all-layout-parte2{
    background-color: #3b2f2f; /* Um tom escuro de vermelho/carmim */
    display: flex;
    width: 100%;
    height: 140vh;
    align-items: center;
}

.layout-container-3a {
    display: flex;
    padding: 20px;
    background-color: #555; /* Um tom escuro */
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.historia-box {
    width: 650px;
    height: 112vh;
    background-color: #446; /* Azul escuro */
    border: 2px solid rgb(0, 0, 0);
}

.layout-conteiner-2b {
    display: flex;
    flex-direction: column;
    background-color: #4b5d4b; /* Verde escuro */
    justify-content: space-around;
    width: auto;
    height: 128vh;
    align-items: center;
}

.atributos-box,
.tipagem-box {
    width: 400px;
    height: 300px;
    background-color: #6a1b9a; /* Roxo escuro */
    border: 2px solid rgb(0, 0, 0);
}