* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Fonte padrão para toda a página */
body {
    font-family: 'K2D', sans-serif;
}