* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fonte padrão para toda a página */
body {
  font-family: 'K2D', sans-serif;
}
.titulo-centralizar{
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 27);
  }
  
  .layout-ambos{
    display: flex;
    justify-content: space-between;
  }
  
  .fundo-layout {
    position: relative;
    background-image: url('../Design\ sem\ nome\ \(8\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  