/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'K2D', sans-serif;
}

/* Layout geral */
.todo-layout-registrar {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;
}

/* Botão de retorno */
.button-back-registrar {
    position: relative;
    top: 40px;
    right: 210px;
    width: 32px;
    height: 32px;
}

.button-back-registrar img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    filter: invert(100%);
    transition: filter 0.3s;
}

.button-back-registrar:hover img {
    filter: invert(0%);
    filter: drop-shadow(0px 0px 2px #fff);
}

/* Título */
.texto-titulo-registro {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

/* Linha separadora */
.linha {
    width: 210px;
    height: 2px;
    background-color: white;
    margin: 20px;
}

/* Formulário */
.registrar {
    display: flex;
    background-color: #0D0D0D;
    width: 620px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Campos e botões do formulário */
.registrar label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

.registrar input {
    margin-bottom: 8px;
    border: 1px solid #232323;
    border-radius: 50px;
    width: 270px;
    height: 35px;
    background-color: #232323;
    color: white;
}

.registrar ::placeholder {
    color: white;
    font-size: 14px;
    opacity: 50%;
}

.registrar button {
    background-color: #1291ab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 20vw;
    height: 9vh;
}

.registrar button:hover {
    background-color: #0F798E;
}

/* Redes Sociais */
.rede-sociais-layout {
    display: flex;
}

.facebook-button,
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 7vw;
    height: 3vh;
    margin: 5px;
}

.facebook-button {
    border: 2px solid #0F3F7D;
    background-color: #4495FF;
    transition: 0.3s ease;
}

.facebook-button:hover {
    background-color: #418aeb;
}

.google-button {
    background-color: #ffffff;
    border: 2px solid #A0A0A0;
    transition: 0.3s ease;
}

.google-button:hover {
    background-color: #d7dbe0;
}

.google-image,
.facebook-image {
    width: 2vw;
    height: 4vh;
}

/* Layout do formulário */
.layout-forms,
.layout-botao,
.rede-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
}

/* Seções específicas do formulário */
.user,
.confirmPassword,
.password,
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}
