/* Layout geral da página */
.todo-layout {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 627px;
}

/* Estilo do lado esquerdo da página */
.lado-esquerdo {
    background-color: rgb(12, 12, 77);
    display: flex;
    align-items: center;
    width: 910px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo do logo e elementos associados */
.logo-e-eclipse {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    justify-content: space-around;
}

/* Estilo da imagem do logo e logoRegistro */
.logo-image,
.logoRegistro {
    width: auto;
    height: 160px;
}

/* Estilo do layout dos elementos sol, lua e eclipse */
.layout-sun-moon-eclipse {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

/* Estilo da imagem e elemento sol e lua */
.sun-image,
.sun, .moon-image,
.moon {
    width: 290px;
    height: 140px;
}

/* Estilo da imagem e elemento eclipse */
.eclipse-image,
.eclipse {
    width: 230px;
    height: 210px;
}

.descricao-registro{
    padding: 12px;
}

/* Estilo da descrição no lado esquerdo */
.texto-titulo-registro {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.linha {
    width: 210px;
    height: 2px;
    background-color: white;
    margin: 20px; /* Ajuste conforme necessário */
  }

/* Estilo da descrição no lado esquerdo */
.texto-descricao-ladoEsquerdo {
    color: white;
}

/* Estilo do formulário de registro */
.registrar {
    display: flex;
    background-color: #0D0D0D;
    width: 460px;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilo das etiquetas do formulário */
.registrar label {
    color: white;
    margin-bottom: 5px;
}

/* Estilo dos campos de entrada do formulário */
.registrar input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #232323;
    border-radius: 50px;
    width: 240px;
    height: 30px;
    background-color: #232323;
}

/* Estilo do botão de registro */
.registrar button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 270px;
    height: 60px;
}

/* Estilo do botão de registro ao passar o mouse */
.registrar button:hover {
    background-color: #45a049;
}

/* Estilo do layout do formulário */
.layout-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de seções específicas do formulário (usuário, senha, etc.) */
.user,
.confirmPassword,
.password,
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}
