* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Fonte padrão para toda a página */
body {
    font-family: 'K2D', sans-serif;
}

/* Layout geral da página */
.todo-layout {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
}

/* Estilo do lado esquerdo da página */
.lado-esquerdo {
    background: linear-gradient(90deg, rgba(9, 9, 22, 1) 35%, rgba(0, 0, 44, 1) 100%);
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo do logo e elementos associados */
.logo-e-eclipse {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    justify-content: space-around;
}

/* Estilo da imagem do logo e logoRegistro */
.logo-image,
.logoRegistro {
    width: 250px;
    height: 200px;

}

/* Estilo do layout dos elementos sol, lua e eclipse */
.layout-sun-moon-eclipse {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

/* Estilo da imagem e elemento sol e lua */
.sun-image,
.sun,
.moon-image,
.moon {
    width: 270px;
    height: 120px;
}

.logoRegistro img {
    filter: drop-shadow(0px 4px 20px rgba(255, 0, 0, 0.60));
}

.sun img {
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 0, 0.8));
}

.moon img {
    filter: drop-shadow(0px 4px 20px rgba(0, 229, 255, 0.8));
}

.eclipse img {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
}

/* Estilo da imagem e elemento eclipse */
.eclipse-image {
    width: 210px;
    height: 190px;
}

/* Descrição no lado esquerdo */
.descricao-registro {
    padding: 12px;
}

.texto-titulo-registro {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.linha {
    width: 210px;
    height: 2px;
    background-color: white;
    margin: 20px;
    /* Ajuste conforme necessário */
}

.texto-descricao-ladoEsquerdo {
    color: white;
}

/* Formulário de registro */
.registrar {
    display: flex;
    background-color: #0D0D0D;
    width: 50vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}



.registrar label {
    color: white;
    margin-bottom: 5px;
}

.registrar input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #232323;
    border-radius: 50px;
    width: 240px;
    height: 30px;
    background-color: #232323;
    color: white;
}

.registrar ::placeholder {
    color: white;
    font-size: 14px;
    opacity: 50%;
}

.registrar button {
    background-color: #1291ab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 300px;
    height: 60px;
}

.registrar button:hover {
    background-color: #0F798E;
}

/* Redes Sociais */
.rede-sociais-layout {
    display: flex;
}

.facebook-button,
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    width: 130px;
    height: 30px;
    margin: 6px;
}

.facebook-button {
    border: 2px solid #0F3F7D;
    background-color: #4495FF;
    transition: 0.3s ease;
}

.facebook-button:hover {

    background-color: #418aeb;
}

.google-button {
    background-color: #ffffff;
    border: 2px solid #A0A0A0;
    transition: 0.3s ease;
}

.google-button:hover {

    background-color: #d7dbe0;
}

.google-image,
.facebook-image {
    width: 30px;
    height: 30px;
}

/* Layout do formulário */
.layout-forms,
.layout-botao,
.rede-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
}

.paragrafo-rede-sociais,
.paragrafo-botao-esquecer,
.link-botao-esquecer a {
    color: white;
    font-size: small;
    text-decoration: none;
}

/* Seções específicas do formulário */
.user,
.confirmPassword,
.password,
.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}