/* sobre a vitrine */
.vitrine {
    display: flex;
    background-color: yellow;
    width: auto;
    height: 650px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.personagens {
    width: 170px;
    height: 200px;
    background-color: thistle;
}

.poderes {
    width: 170px;
    height: 200px;
    background-color: rgb(147, 130, 147);
}

.armas {
    width: 170px;
    height: 200px;
    background-color: rgb(93, 82, 93);
}