/* ladoDireito.css */

.container {
    position: relative;
    width: 790px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 0, 29, 1) 100%);
}

.orb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}

.blueOrb {
    background-color: #0000ff;
    left: 10%;
    animation: aparecer 2s forwards;
}

.redOrb {
    background-color: #ff0000;
    right: 10%;
    animation: aparecer 2s forwards;
}

.purpleOrb {
    background-color: purple;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveToCenter {
    0% {
        left: 10%;
        right: 10%;
    }

    100% {
        left: 45%;
        right: 45%;
    }
}

.moveToCenter {
    animation: moveToCenter 2s forwards;
}